/*Paleta de Cores*/
:root {
    --dark-blue-200: #356EA9;
    --dark-blue-400: #072B61;
    --gray-100: #CED4DA;
    --gray-200: #ADB5BD;
    --gray-400: #495057;
    --gray-500: #343A40;
    --light-blue-200: #EFF1FA;
    --light-blue-400: #AAB2D5;
    --white: #FFF;
}

body {
    overflow-x: hidden;
}

/*Header*/

.cabecalho {
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: 3rem;
    margin: 0;
    padding: 1rem ;
    background-color: var(--light-blue-200);
}

.logo-cabecalho-1 {
    width: 90px;
    height: 45px;
}

.logo-cabecalho-1:hover {
    filter: drop-shadow(2px 2px 3px var(--dark-blue-200));
}

.logo-cabecalho-2 {
    width: 100px;
    height: 50px;
}

.logo-cabecalho-2:hover {
    filter: drop-shadow(2px 2px 3px var(--gray-200));
}

.divisor {
    width: 1px;
    height: 50px;
    margin-right: 30px;
    background-color: #000;
}

/*Main*/

.principal-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 5%;
}

.principal {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-self: center;
    gap: 6rem;
}

.container-texto {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
    box-shadow: 1px 1px 1px 1px var(--gray-100);
    border-radius: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 150%;
    color: var(--dark-blue-400);
    width: 400px;
    height: 200px;
    overflow-wrap: break-word;  
    word-wrap: break-word; 
    word-break: break-word;
}

.texto {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-size: 1.8rem;
    line-height: 150%;
    text-align: center;
    padding: 0;
    color: var(--dark-blue-400);
    background: none;
    border: none;
    resize: none;
}

.texto:focus {
    outline: none;
}

::-webkit-input-placeholder {
    color: var(--dark-blue-400);
 }
 
 :-moz-placeholder { /* Firefox 18- */
    color: var(--dark-blue-400);  
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
    color: var(--dark-blue-400);  
 }
 
 :-ms-input-placeholder {  
    color: var(--dark-blue-400);  
 }

 .container-botoes {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2%;
    gap: 20rem;
}

 .criptografar {
    background: var(--dark-blue-400);
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
    font-weight: bold;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    border: none;
    color: var(--white);
    flex: none;
    order: 0;
    flex-grow: 0;
}

.criptografar:hover {
    background: var(--light-blue-200);
    font-weight: bold;
    color: var(--dark-blue-400);
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px var(--gray-200);
}

.descriptografar {
    background: var(--gray-100);
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    box-sizing: border-box;
    width: 200px;
    height: 50px;
    border: none;
    color:  var(--dark-blue-400);
    border-radius: 5px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.descriptografar:hover {
    background: var(--gray-400);
    font-weight: bold;
    color: var(--white);
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px var(--gray-400);
}

.container-retangulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    width: 400px;
    height: 200px;
    font-size: 1.8rem;
    line-height: 150%;
    text-align: center;
    color: var(--dark-blue-400);
    overflow-wrap: break-word;  
    word-wrap: break-word; 
    word-break: break-word;
}

.imagem-menino { 
    width: 150px;
    height: 150px;
}

.container-paragrafo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 336px;
    height: 122px;
}

.paragrafo1 {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 120%;
    text-align: center;
    color: var(--gray-500);
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.paragrafo2 {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 150%;
    text-align: center;
    color: var(--gray-400);
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.container-mensagem-validacao {
    display: flex;
    justify-content: center;
    gap: 4px;
    padding: 1%;
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.9rem;
    line-height: 150%;
    color: var(--gray-400);
    opacity: 0.8;
}

/*Footer*/

.rodape {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 5rem;
    background: linear-gradient(to bottom, var(--light-blue-200), var(--gray-100));
}

.paragrafo-rodape {
    font-family: 'Ubuntu', sans-serif;
    color: var(--gray-400);
    font-size: 1.3rem;
}

.link-rodape {
    text-decoration: none;
    color: var(--dark-blue-400);
    font-weight: bold;
}

.link-rodape:hover {
    color: var(--light-blue-400);
    transition: 200ms all ease-in-out;
    cursor: pointer;
}
